{% extends "layout.html" %}
{% block title %}
    {{ book.title }}
{% endblock %}
{% block body %}
    <center>
        <h1>{{ book.title }}</h1>
        <div class="row container">
            <table class="table info">
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{ book.title }}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <td>Publication year</td>
                        <td>{{ book.year }}</td>
                    </tr>
                    <tr>
                        <td>ISBN number</td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <td>Reviews</td>
                        <td>{{ count }}</td>
                    </tr>
                    <tr>
                        <td>Average rating from Goodreads</td>
                        <td>{{ ratings['av_rating'] }}</td>
                    </tr>
                    <tr>
                        <td>Number of ratings from Goodreads</td>
                        <td>{{ ratings['ratings_cnt'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <div class="container">
        <center><h1>Comments</h1></center>
        {% for review in reviews %}
            {% if review.comment != NULL %}
                <div class="card" style="margin-top:30px; margin-bottom: 10px;">
                    <div class="card-header">
                        Reviewer: {{ review.username }}
                        {% if review.username == user %}
                        <a href="/edit_page/{{ review.id }}"><img src="/static/edit.png" style="margin-left: 10px" height=20px;></a>
                        {% endif %}
                        {% for i in range(review.rating) %}
                            <img src="/static/star.png" style="float:right" height=20px;>
                        {% endfor %}
                    </div>
                    <div clsas="card-body">
                        <p class="card-text">&nbsp&nbsp{{ review.comment }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if rate %}
        <form action="{{ url_for('add_comment', book_id = book.id) }}" method="post">
            <div class="card" style="margin-top:30px; margin-bottom: 10px;">
                <div class="card-header">
                    <h5 class="card-title" style="float:left; margin-top:5px">Edit your comment <label class="h6 text-muted"> (Maximum 250 words)</label></h5>
                    <select class="form-control" style="float:right; width:100px" name="rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span style="float:right; margin-right:10px">Rate the book: </span>
                </div>
                <div clsas="form-group card-body">
                    <textarea class="form-control" rows="8" name="comment" placeholder="Write your comment here..."></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        {% endif %}
    </div>
    <script>
        function transform() {
            var ps = document.querySelectorAll("p")
            for (let i = 0; i < ps.length; i++) {
                ps[i].innerHTML = ps[i].innerHTML.replace(/&lt;br&gt;/g, "<br />&nbsp&nbsp")
            }
        }
        transform()
    </script>
{% endblock %}
