{% extends "layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block body %}
    <form action="{{ url_for('search') }}">
        <center><h1>Search</h1></center>
        <div class="form-group container">
            <div class="input-group mb-3 container">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="isbn">Search By...</span>
                </div>
                <select class="form-control" name="ways">
                    <option disabled selected>Choose...</option>
                    <option value="isbn">ISBN</option>
                    <option value="title">title</option>
                    <option value="author">author</option>
                    <option value="year">year</option>
                </select>
            </div>
            <div class="input-group mb-3 container">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="/static/magnifying-glass.png" height=30px>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Please enter keywords..." name="keyword">
            </div>
            <div class="alert alert-info" style="width:30%; margin-left:13px;">
                Be mind of uppercase letter.
            </div>
            {% if not found %}
            <div class="alert alert-danger container" style="width:50%; margin-left:13px;">
                Not found! Please select a type and try again!
            </div>
            {% endif %}
            <div>
                <button type="submit" class="btn btn-primary float-right">Search</button>
            </div>
        </div>
    </form>
    <center style="margin-top: 150px; margin-bottom: 50px;">
        <img src="/static/user.png" height="70px">
        <h1>{{ username }}</h1>
        <div class="list-group container" id="account">
            <a href="{{ url_for('modify_account') }}" class="list-group-item list-group-item-action">Modify account</a>
            <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action">Sign out</a>
        </div>
    </center>

{% endblock %}
